<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="home.parns.Hymh_web.memo.mapper.MemoMapper">

    <!-- 전체 개수 -->
    <select id="getMemoCount" resultType="int">
        SELECT COUNT(*)
        FROM tb_memo a, tb_yuser u
        WHERE a.YID = u.YID
            <!-- 검색어가 있을 경우 -->
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'title'">
                        AND a.TITLE LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'writer'">
                        AND u.YNAME LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>

            <!-- 날짜 범위 -->
            <if test="startDate != null and startDate != ''">
                AND date_format(a.UPDDT,'%Y-%m-%d') >= #{startDate}
            </if>

            <if test="endDate != null and endDate != ''">
                AND date_format(a.UPDDT,'%Y-%m-%d') &lt;= #{endDate}
            </if>
    </select>

    <!-- 메모 리스트 -->
    <select id="getMemoListPaged"
            resultType="home.parns.Hymh_web.memo.vo.MemoVo">
        SELECT a.SEQ, a.TITLE, a.YID, u.YNAME, a.REGDT, a.UPDDT
        FROM tb_memo a, tb_yuser u
        WHERE a.YID = u.YID
            <!-- 검색어 있을 경우 -->
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'title'">
                        AND a.TITLE LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'writer'">
                        AND u.YNAME LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>

            <!-- 날짜 FROM -->
            <if test="startDate != null and startDate != ''">
                AND date_format(a.UPDDT,'%Y-%m-%d') >= #{startDate}
            </if>

            <!-- 날짜 TO -->
            <if test="endDate != null and endDate != ''">
                AND date_format(a.UPDDT,'%Y-%m-%d') &lt;= #{endDate}
            </if>
        ORDER BY a.SEQ DESC
        LIMIT #{size} OFFSET #{start}
    </select>

    <select id="getMemoDetail" parameterType="long" resultType="home.parns.Hymh_web.memo.vo.MemoVo">
        SELECT
            a.SEQ,
            a.TITLE,
            a.MEMO,
            u.YNAME,
            a.REGDT,
            a.UPDDT
        FROM tb_memo a, tb_yuser u
        WHERE a.YID = u.YID
        AND SEQ = #{seq}
    </select>

    <update id="updateMemo">
        UPDATE tb_memo
        SET
            title = #{title},
            memo  = #{memo},
            upddt = NOW()
        WHERE seq = #{seq}
    </update>

    <insert id="insertMemo">
        INSERT INTO tb_memo(title, memo, memo_type, use_cl, public_level, use_type, depth, super_seq, yid, regdt, upddt)
        VALUES (#{title}, #{memo}, '00', 'Y', '0', '', 0, null, #{yid}, NOW(), NOW())
    </insert>
</mapper>