<div th:fragment="content">
    <h2 class="memo-title">📒 메모 리스트</h2>
    <div class="memo-btn-area">
        <a href="/memo/new" class="memo-btn">+ 새 메모</a>
    </div>
    <table class="memo-table">
        <thead>
        <tr>
            <th>No</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="memo : ${memoList}">
            <td th:text="${memo.seq}"></td>
            <td class="title">
                <a th:href="@{/memo/{seq}(seq=${memo.seq})}"
                   th:text="${memo.title}">
                </a>
            </td>
            <td th:text="${memo.yid}"></td>
            <td th:text="${memo.regdt}"></td>
        </tr>
        </tbody>
    </table>

    <div class="page-size-selector">
        <form id="pageSizeForm" method="get" action="/memo">
            <select name="size" onchange="document.getElementById('pageSizeForm').submit()">
                <option th:value="10" th:selected="${size == 10}">10개씩 보기</option>
                <option th:value="20" th:selected="${size == 20}">20개씩 보기</option>
                <option th:value="30" th:selected="${size == 30}">30개씩 보기</option>
                <option th:value="50" th:selected="${size == 50}">50개씩 보기</option>
            </select>
            <input type="hidden" name="page" th:value="${currentPage}">
        </form>
    </div>


    <!-- 페이지 네비게이션 -->
    <div class="pagination">
        <ul>

            <!-- 이전 -->
            <li th:if="${currentPage > 1}">
                <a th:href="@{/memo(page=${currentPage - 1})}">◀ 이전</a>
            </li>

            <!-- 페이지 번호 -->
            <li th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${pageNum == currentPage} ? 'active'">
                <a th:text="${pageNum}"
                   th:href="@{/memo(page=${pageNum})}"></a>
            </li>

            <!-- 다음 -->
            <li th:if="${currentPage < totalPages}">
                <a th:href="@{/memo(page=${currentPage + 1})}">다음 ▶</a>
            </li>

        </ul>
    </div>
</div>